@{
    ViewData["Title"] = "Home";
}
@using Microsoft.AspNetCore.Identity
@using Bitirme.Areas.Identity.Data
@model IEnumerable<Bitirme.Models.Explore>
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@*<!DOCTYPE html>
<html>
<head>
    <title>SwiftShift</title>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>

        body {
            font-family: Arial, sans-serif;
            background-color: #fff;
            margin: 0;
            padding: 0;
            font-family: "Open Sans";
        }

        /* div {
                    text-align: center;
                    padding: 50px;
                    background-color: #gray;
                    color: #fff;
                }*/

        h1 {
            font-size: 36px;
            text-align: left;
        }

        /* button {
                    background-color: #fff;
                    color: #000;
                    padding: 10px 20px;
                    border: none;
                    cursor: pointer;
                    margin-left: -750px;
                }*/

        /*button:hover {
                        background-color: rgb(67, 167, 86);
                        color: black;
                    }*/

        section {
            margin: 20px;
            padding: 20px;
            background-color: gray;
        }

        h2 {
            font-size: 24px;
            color: gray;
        }

        footer {
            background-color: #333;
            color: #fff;
            padding: 10px;
            position: relative;
            bottom: 0;
        }

        #intro {
            background-color: rgb(67, 167, 86);
        }

        h1, h3, h4, h5, h6 {
            font-family: "Oswald"
        }
    </style>
</head>
<body>*@
<!-- Image header -->
@* <header class="w3-display-container w3-wide" id="home">
        <img class="w3-image" src="~/images/delivery.jpg" alt="delivery" width="1800" height="530">
        <div class="w3-display-left w3-padding-large">
            <h1 class="w3-text-white">Swift Shift</h1>
            <h1 class="w3-jumbo w3-text-white w3-hide-small"><b>Güvenilir Taşımacılık Platformu</b></h1>
            <h6><button class="w3-button w3-black w3-padding-large w3-large w3-opacity w3-hover-opacity-off" onclick="window.location.href='/Identity/Account/Register'">Register</button></h6>
        </div>
    </header>*@

<!-- Grid -->
@*<div class="w3-row w3-padding w3-border">

        <section>
            <h2>Detay Bilgiler</h2>
            <p>Burada platformumuz hakkında daha fazla bilgi bulabilirsiniz.</p>
            <!-- Detay bilgilerinizi daha fazla içerik eklemek için kullanabilirsiniz. -->
        </section>

        <footer>
            <h2>İletişim Bilgileri</h2>
            <p>Adres: Örnek Adres, Şehir</p>
            <p>Telefon: 123-456-7890</p>
            <p>E-posta: info@swiftshift.com</p>
            <!-- İletişim bilgilerinizi buraya ekleyebilirsiniz. -->
        </footer>
    </div>*@
@*</body>
</html>*@

<style>
    /*
                                 * Always set the map height explicitly to define the size of the div element
                                 * that contains the map.
                                 */
    #map {
        height: 400px;
        width: 900px;
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        margin: auto;
        text-align: center;
        padding-bottom: 10px;
    }

    .title {
        color: grey;
        font-size: 18px;
    }

    .rounded-circle.index {
        height: 60px;
        width: 60px;
        margin-right: 100px;
        margin-left: 100px;
    }

    .btn-get-contact {
        text-align: center;
        background-color: #4caf50;
        color: white;
        padding: 6px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .card-header {
        background-color: whitesmoke;
        padding: 10px;
    }

    button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
    }

    .product-card {
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        margin: 20px;
        max-width: 400px;
        min-height: 340px;
        position: relative; /* Add this line */
    }

        .product-card:hover {
            background-color: honeydew;
        }

    .product-image {
        position: absolute;
        top: 1;
        right: 0;
        max-width: 80px; /* Adjust the size as needed */
        max-height: 80px; /* Adjust the size as needed */
        padding-right: 10px;
    }

    a {
        text-decoration: none;
        font-size: 22px;
        color: black;
    }

        button:hover, a:hover {
            opacity: 0.7;
        }

    /*
                                 * Optional: Makes the sample page fill the window.
                                 */
    /*html,
                                body {
                                    height: 100%;
                                    margin: 0;
                                    padding: 0;
                                }*/
</style>

<br />

<div class="row">
    <div id="map"></div>
    <script>
        var map;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: 41.013000, lng: 28.974800 },
                zoom: 8
            });

            $.get("@Url.Action("GetAllLocation", "Home")", function(data) {
                var marker = [];
                var contentString = [];
                var infowindow = [];

                for (var i = 0; i < data.length; i++) {
                    var image = {
                        url: 'data:image/*;base64, ' + data[i].profilePicture,
                        size: new google.maps.Size(50, 50),
                        origin: new google.maps.Point(0, 0),
                        anchor: new google.maps.Point(25, 25),
                        scaledSize: new google.maps.Size(50, 50)
                    };

                    marker[i] = new google.maps.Marker({
                        position: { lat: parseFloat(data[i].latitude), lng: parseFloat(data[i].longitude) },
                        map: map,
                        icon: image
                    });
                    var receiverId = data[i].id;
                    var receiverUsername = data[i].userName;

                    contentString[i] = '<div class="card">' +
                        '<img class="rounded-circle index" src="data:image/*;base64, ' + data[i].profilePicture + '">' +
                        '<h2>' + data[i].ad + ' ' + data[i].soyad + '</h2>' +
                        '<p>Puan: ' + data[i].point + '</p>' +
                        '<p>Tanım: ' + data[i].profileDescription + '</p>' +
                        '<p><button id="contactButton" onclick="openContactPage(\'' + receiverId + ',' + receiverUsername + '\')">İletişim Kur</button></p>' +
                        '</div>';

                    infowindow[i] = new google.maps.InfoWindow({
                        content: contentString[i]
                    });
                    var markerValue = marker[i];
                    google.maps.event.addListener(marker[i], 'mouseover', (function(markerValue, i) {
                        return function() {
                            infowindow[i].open(map, marker[i]);
                        }
                    })(marker[i], i));
                    //google.maps.event.addListener(marker[i], 'mouseout', (function (markerValue, i)
                    //{
                    //    return function ()
                    //    {
                    //        infowindow[i].close();
                    //    }
                    //})(marker[i], i));
                }
            });
        }

        function openContactPage(receiver) {
            console.log(receiverId, receiverUsername)
            var receiverId = receiver.split(',')[0];
            var receiverUsername = receiver.split(',')[1];
            var url = '@Url.Action("Message", "Home")?receiverId=' + receiverId + '&receiverUsername=' + receiverUsername;
            window.location.href = url;
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCY8T6t2s5mXZsmfTmbuoUULhZ1Rnn-wgA&callback=initMap">
    </script>
</div>
<div>
    <header class="w3-display-container w3-wide">
        <div class="container">
            <div class="row">
                @foreach (var explore in Model)
                {
                    <div class="col-md-4">
                        <div class="product-card">
                            <div class="card-header">
                                <h5 class="card-title">İlan Detayları</h5>
                            </div>
                            <div class="form-group col-md-6"></div>
                            <div class="card-body">
                                <img src="~/images/profilePicture.png" alt="Product Image" style="text-align:center; cursor:pointer" class="img-fluid product-image"
                                 data-toggle="modal" data-target="#exampleModal" />
                                <p class="card-text"><strong>Ürün İsmi:</strong> @explore.ProductName</p>
                                <p class="card-text"><strong>Ülke:</strong> @explore.Country</p>
                                <p class="card-text"><strong>Şehir:</strong> @explore.City</p>
                                <p class="card-text"><strong>Adres:</strong> @explore.Address</p>
                                <p class="card-text"><strong>Kilogram:</strong> @explore.ProductKg</p>
                                <p class="card-text"><strong>Not:</strong> @explore.Note</p>
                            </div>
                            <div class="get-contact">
                                <a class="btn-get-contact" asp-controller="Main" asp-action="Message">İletişim Kur</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </header>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ürün Resmi</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- You can customize the content of the modal here -->
                    <img src="~/images/profilePicture.png" alt="Product Image" class="img-fluid" />
                    <!-- Other details or additional information can be added here -->
                </div>
            </div>
        </div>
    </div>
</div>